<div>
    <div>
        <mat-toolbar>
            <div class="menu-box">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <img src="../../../../assets/dashboard/index.jpg" alt="Logo" width="40px" height="40px">
                <span style="color: #4285F4;">F</span>
                <span style="color: #EA4335;">u</span>
                <span style="color: #FBBC05;">n</span>
                <span style="color: #4285F4;">d</span>
                <span style="color: #34A853;">o</span>
                <span style="color: #EB4E41;">o</span>
            </div>
            <div class="search">
                <mat-form-field appearance="outline">
                    <mat-icon matPrefix class="search-icon">search</mat-icon>
                    <input matInput placeholder="  Search">
                    <em class="material-icons" matSuffix>clear</em>
                </mat-form-field>
            </div>

        </mat-toolbar>
        <mat-divider></mat-divider>
    </div>
</div>